.intro{
    margin-top: 6.86rem;
    background-color: rgb(34 127 190 / 91%);
    color: white;
    border-radius: 1.5rem;
}
.imag{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
}
.profile-img:hover{
    cursor: grab;
}

.about-me{
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 1.7rem;
    border-radius: 1.6rem;
    margin-top: 20px;
    background-color: rgb(35 115 169);
}
.about-me:hover{
    box-shadow: 10px 1.5px 10px 4px rgb(5 106 174);
}
.about-me h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    padding: 10px;
}

.about-me p{
    font-size: 20px;
    letter-spacing: 1.3px;
}
